
mat-card {
  background-color: white;
}

.type-normal { background-color: #C2C2A1; }

.type-flying { background-color: #BAB0D5; }

.type-ghost { background-color: #735797; }

.type-dark { background-color: #333; }

.type-steel { background-color: #CCCCDE; }

.type-ground { background-color: #B1736C; }

.type-poison { background-color: #7C538C; }

.type-grass { background-color: #48D0B0; }

.type-fire { background-color: #FB6C6C; }

.type-electric { background-color: #FFD86F; }

.type-fairy { background-color: #f469a9; }

.type-bug { background-color: #C3CE75; }

.type-fighting { background-color: #d6b591; }

.type-water { background-color: #609FB5; }

.type-psychic { background-color: #9B7FA6; }

.type-ice { background-color: #7FCCEC; }

.type-rock { background-color: #a6aab6; }

.type-dragon { background-color: #F9BE00; }

.card{
  background: url(../../../assets/image/pokeball.svg) ;
  background-size: cover;
  background-position: right 10px center;
  background-repeat: no-repeat;
  height: 100px;
}

img {
  width: 4em;
}
